.calculator{
    border: 1px solid black;
    /* margin:2cm 21.365cm; */
    background-color: rgb(233,73,62);

}
.display{
    justify-content: center;
}
input{
    width: 24cm;
    height: 10cm;
    border: none;
    background-color: rgb(233,73,62);
    font-size: 60px;
    text-align: end;
}
h3{
    text-align: center;
    background-color: rgb(24,22,22);
    height: 4cm;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 60px;
}
.buttons{
    background-color: black;
    border-radius: 10px;
    border: none;

}
button{
    width: 6cm;
    height: 6cm;
    border: none;
    color: white;
    background-color: black;
    font-size: 60px;
    border-radius: 30px;

}
button:hover{
    background-color: rgb(233,73,62);
}
#clear{
    width: 12cm;
}
#zero{
    width: 12cm;
}