.calculator{
    border: 1px solid black;
    margin:2cm 21.365cm;
    background-color: rgb(233,73,62);

}
.display{
    justify-content: center;
}
input{
    width: 7.5cm;
    height: 3.5cm;
    border: none;
    background-color: rgb(233,73,62);
    font-size: 30px;
    text-align: end;
}
h3{
    text-align: center;
    background-color: rgb(24,22,22);
    height: 1cm;
    color: aliceblue;
    font-family: sans-serif;
}
.buttons{
    background-color: black;
    border-radius: 10px;
    border: none;

}
button{
    width: 1.8cm;
    height: 1.8cm;
    border: none;
    color: white;
    background-color: black;
    font-size: 18px;
    border-radius: 10px;

}
button:hover{
    background-color: rgb(233,73,62);
}
#clear{
    width: 3.6cm;
}
#zero{
    width: 3.6cm;
}